body {
    background-color: #000000;
}

button {
    background-color: #f79400;
    color: #ffffff;
    font-weight: 900;
    border-radius: 20px;

}

button:hover {
    background-color: #ff781ee5;
    outline: none;
}

#dclass {
    background-color: #b8b6b3a9;
    color: #ffffff;
}

#dclass:hover {
    background-color: #6e6d6dd0;
}

.hd {
    background-color: #9d9e9e8c;
    border-radius: 50px;
    padding: 2px;
    margin-top: 10px;

}

#nav {
    color: #ffffff;
    /* background-color: #ff020291; */
}

#nav:hover {
    color: #a7a7a7;
}

#logname {
    font-size: 30px;
}

.bgblack {
    background-color: rgb(0, 0, 0);
}

#herotext {
    font-size: 70px;
}

#ht {
    font-size: 40px;
}



.lt {

    margin-left: 80%;
}

.margco {
    margin-top: 40px;
}

#vid {
    width: 80vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 20px;
}

#viddiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}




/* image carousel */
#codiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-wrapper {
    width: 100vw;
    border-radius: 15px;
    overflow: hidden;
    /* This is crucial */
}

.carousel {
    width: 100vw;
    height: 20vw;
    position: relative;
}

.carousel-track {
    display: flex;
    animation: slide 12s infinite;
}

.carousel-track img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100vw);
    }

    45% {
        transform: translateX(-100vw);
    }

    50% {
        transform: translateX(-200vw);
    }

    70% {
        transform: translateX(-200vw);
    }

    75% {
        transform: translateX(-300vw);
    }

    95% {
        transform: translateX(-300vw);
    }

    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 600px) {
    .hd {
        background-color: #9d9e9e00;
    }
}
